<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">S.T.I Bangalore</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% block home %} {% endblock home %}" href="/"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% block courses %} {% endblock courses %}"
            href="/courses"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% block about %} {% endblock about %}"
            href="/about"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% block contact %} {% endblock contact %}"
            href="/contact"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% block attendance %} {% endblock attendance %}"
            href="/attendance"
            >Attendance</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% block enroll %} {% endblock enroll %}"
            href="/enroll"
            >Enroll</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="/"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Services</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/">Training Professional Courses</a>
            <a class="dropdown-item" href="/">Freelancing</a>
            <a class="dropdown-item" href="/">Onsite Training</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Online or Offline Training</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="/"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Signin</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/auth/signup">Signup</a>
            <a class="dropdown-item" href="/auth/login">Login</a>
            <a class="dropdown-item" href="/auth/reset-password"
              >Reset Password</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">Logout</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-sm-2"
          type="search"
          placeholder="Search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
